html {
  margin:0; 
  padding:0 
}
/* ..................................................................Debut Header...................................................................... */
header {
  background-color: rgb(28,75,101);
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:96px ;
}
.logo{
  display: flex;
  align-items:center;
  margin-top: 20px;
}
li{
  list-style: none
}
.nav li {  
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}
.nav li a {
  text-decoration:none;
  color: #fff;
}

/* ............................................................fin Header................................................................................ */
/* .............................................................................Debut Section 1 + s1 title............................................................ */
body {
  margin: 0; 
  padding: 0; }


.section1-title {
  text-align: center;
}
/* h1{}
   h2{} */ 

.s1container {
  display: flex;
  justify-content: space-between;
  padding-left: 44px;
  align-items: center;
}
/* .s1texte{:;} */
.section1 p {
  color: rgb( 121,128,134)
}
/* .s1img {} */
.poche{
  max-width:100%
}
/* ..................................................fin section1 + s1 tittle.......................................................... */
/* ..............................................................................Debut section2........................................................................ */

.section2 {height: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right:100px;
  padding-left:100px ;
  height: 170px;
  
}
.button { 
  display: flex; 
  align-items: center;
  margin-left: 159px;
}
/* ................................................................fin section2 ...........................................................................*/
/* ...................................................................................Debut section2b..gateaux rond.................................................. */

.section2b{ 
  padding-left: 100px;
  flex-direction: column;
  display:flex;
}
.s2bcontainer {
  display: flex;
}
.Gateaux-rond1{ 
  border-radius: 100%; 
  height:200px;
}
/* p */
/* h2{} */
/* button{}  About us */
.section2b p{
  color: rgb( 121,128,134);
}
.Gateaux-rond2{
  border-radius: 100%; 
  height:200px;
}
/* button{}  Learn more */

/* ...............................................................fin section2b......................................... */
/* ................................................................................Debut section3...................................... */

.section3{ 
  height:455px; 
  display: flex;
  padding-left: px;
  flex-direction: column;
}
.s3container{
  display: flex;
  margin-top: 150px;

  }
.s3text{ display: flex;
flex-direction: column;
text-align: center;
align-items: center;
}
.s3container p{
  margin-left: 200px;
margin-right: 200px}

.s3img { 
  display:flex;
  justify-content:space-between;
}
/* .Gateaux3{} */
/* ...........................................................................fin section 3............................................................ */

/* .............................................................................Debut Footer section 4 nav contact button........................................ */
footer{
  padding-left: 48px;
  padding-right:48px}

.section4 { 
  display: flex; 
  justify-content:space-between; 
}   
/* .section4{
} */
.logo2{
  display:flex; 
  align-items: center
} 
.navFOOT{ 
  display: flex;
flex-direction: column;
}

.menu-footer-1{ /* li href collection */
  display: flex; 
  flex-direction: column; 
}
.menu-footer-2{/* li href Bakery */
  display: flex;
  flex-direction: column; 
}

button{ margin-block-end: 30px;}
.ligne{ 
  border-top: 1px solid}

/* .................................................................footsoon. coopyright linked......................................................... */
.Footsoon{ 
  display: flex; 
  justify-content: space-between; 
}
.copyright{ 
  margin-top: 50px; 
}        
.follow{ 
  display: flex; 
  align-items: center; 
}
.linked{ 
  vertical-align: top; 
  width: 64px; 
}
.twit{
  width: 64px;} 

/* ************************************************************************************** @ min 500px */

@media screen and (max-width: 500px) {


.s1container { 
display:flex;
flex-direction: column;
}
.poche{
margin-right: 20px;}
.s2bcontainer { 
display:flex;
flex-direction: column;
}
.s2bcontainer p {margin-right:50px}
.rond2 {
  margin-top: 20px;

}
.s3container {
display:flex; 
flex-direction: column;
}
.s3text {
  justify-content: center;
  text-align: center;
  margin-left: 10px;

}
.Gateaux3 {
align-items:center;
padding-left: 100px;
height:202px;
width:308px
}

.section4 {
display:flex;
flex-direction:column;
}

.logo2{ display:flex;
justify-content: center;
justify-content: flex-start;
padding-top: 80px;}
.navFOOT{ display: flex;
  flex-direction:row;
justify-content: space-around;
}
.navFOOT button{margin-right:30px;}


}