html { 
      width:auto; 
      height:auto 
    }
p{ text-align:start; color:; font-size:}
h2 { text-align: center }
h3 { text-align: center }
aside{width:100%}
section{  
  margin-left: 85px; 
  background-color;
  display: flex; 
  
}

  article{ padding-left: ;  
    color: ; }

  li {  list-style: none; 
        display: flex; 
        justify-content: space-around;
}

.button { 
  display: flex; 
  align-items: center;
  margin-left: 159px; 
}

header {
  background-color: rgb(28,75,101);
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:96px ;
}


body { margin: 0; padding: 0; }


.section1 { 
  background-color:;
  
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left:186px;
  height: 314px; ;
  background-color:; 
}

.section2b{ display: flex; 
            padding-bottom:104px ; 
            background-color: }
.section3{ height:787px; 
          align-items: center; 
          background-color:; }

.section4 { display: flex; 
            justify-content:space-between; 
            background-color: ;
}

.Gateaux-rond1{ 
  border-radius: 50%; 
  height:200px;

}
.Gateaux-rond2{
  border-radius: 100%; 
  height:200px;
  width:200px; 
  margin-top: 60px; 
}

.Gateaux3{ 
  width: 100%; 
 
}

.navFOOT{ display: flex; justify-content:space-around; background-color:}

.logo{
  display: flex;
  align-items:center;
  margin-top: 20px;
  background-color)
}

.menu-footer-1{ display: flex; flex-direction: column; }
.menu-footer-2{display: flex; flex-direction: column; }

.poche{max-width:100%}

.linked{ vertical-align: top; width: 64px; }
.twit{ width: 64px; }

.Footsoon{ display: flex; align-items: top; justify-content: space-between; background-color:purple}

.copyright{ margin-top: 20px; }        

.follow{ display: flex; align-items: center; }


/* (max-width: 100px) */
@media screen and (max-width: 500px) {
article {   color: ; 
        background-color:;
        }
section {
        display:block;
        }
.poche{ 
      
      width: 100%;
      }
.Gateaux3{ 
          width:100%;
          }

.Footsoon{
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          }

.navFOOT{ 
        justify-content: space-between none;
        }
.section4{ 
        display:block
        }
.logo {justify-content: left;
      }
}


@media screen and (min-width: 500px) and (max-width: 750px) {
article { color); 
        ;
        }
section {display:block;
}

.poche{ height: 300px;
        width: 300px;
      }
.Gateaux3{ height: 300px;
          width: 300px;}

.Footsoon{
margin-left: auto;
margin-right: auto;
text-align: center;
}
.logo
.navFOOT{ display:block}
.section4{ display:block}
.logo{
  justify-content: center;
}
}

















