html{ width:auto; height:auto }

h2{ text-align: center }
h3{ text-align: center }

section{ display: block;text-align: center; padding-right: 30%; }
article{ padding-left: 230px; padding-top: 100px; color: red;}
li { list-style: none; display: flex; justify-content: space-around;}

.button{ display: flex; align-items: center; margin-left: 159px; }

header {
  background-color: rgb(28,75,101);
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:96px ;
}


body { margin: 0; padding: 0; }


.section1{ background-color:burlywood }

.section2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left:186px;
  height: 314px; ;
  background-color:rgb(207, 74, 74); }


.section3{ height:787px; align-items: center; background-color:rgb(9, 128, 240); }
.section4{ display: flex; justify-content:space-between; background-color: aqua;}

.navFOOT{ display: flex; justify-content:space-around; background-color: yellowgreen }

.logo{
  display: flex;
  align-items:center;
  margin-top: 20px;
  background-color:rosybrown
}

.menu-footer-1{ display: flex; flex-direction: column; }
.menu-footer-2{display: flex; flex-direction: column; }

.Aside{width:100%;display: block; margin: auto;}
.Asideb{
  width: 80px;
  height:80px;
  border-radius: 50%;}

.linked{ vertical-align: top; width: 64px; }
.twit{ width: 64px; }

.Footsoon{ display: flex; align-items: top; justify-content: space-between; background-color:purple}

.copyright{ margin-top: 20px; }        

.follow{ display: flex; align-items: center; }


/* (min-width: 100px) */
@media screen and (max-width: 750px)
{
p {   color: red; 
        background-color: black;
        font-size: 1.2em;
    }
}