html{ width: auto; height:auto;}


h2{ text-align: center }
h3{text-align: center
}

.Aside{width: 100%;}
section{ display: flex; align-items: center;margin-left:3%;background-color:palegreen }
article{color: red; }
li { list-style: none; display: flex; justify-content: space-around;}

.button{ display: flex; align-items: center; margin-left: 159px; }

header {
  background-color: rgb(28,75,101);
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:96px ;
}


body { margin: 0; padding: 0; }


.section1{ background-color:burlywood;
  

}

.section2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(46, 0, 253);
display: flex;
}

  .section3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(253, 236, 0); }

.section4 { display: flex; 
            justify-content:space-between; 
            background-color: aqua;}

/* 
.Gateaux-rond1{ border-radius: 50%; height:200px; align-items: center;}
.Gateaux-rond2{border-radius: 100%; height:200px; margin-top: 60px; }
.Gateaux3{ width: 877px; height: 556px; } */

.navFOOT{ display: flex; justify-content:space-around; background-color: yellowgreen }

.logo{
  display: flex;
  align-items:center;
  margin-top: 20px;
  background-color:rosybrown
}

.menu-footer-1{ display: flex; flex-direction: column; }
.menu-footer-2{display: flex; flex-direction: column; }



.linked{ vertical-align: top; width: 64px; }
.twit{ width: 64px; }

.Footsoon{ display: flex; align-items: top; justify-content: space-between; background-color:purple}

.copyright{ margin-top: 20px; }        

.follow{ display: flex; align-items: center; }


/* (min-width: 100px) */
@media screen and (max-width:500px)
{
  body{display: block;}
}
